<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
    
      <div class="group btmspace-80">
        <div class="one_third first">
          <h6 class="heading">Non erat varius lacinia</h6>
          <p>Morbi tincidunt in hac habitasse platea dictumst praesent pretium donec tincidunt laoreet diam nullam augue.</p>
          <p class="btmspace-30">Tortor rhoncus sed dictum vitae viverra posuere lorem pellentesque suscipit eros vel ante curabitur pretium [<a href="#"><i class="fas fa-arrow-right"></i></a>]</p>
          <ul class="faico clear">
            <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
          </ul>
        </div>
        <div class="one_third">
          <h6 class="heading">Enim et mauris quisque vitae</h6>
          <p class="nospace btmspace-15">Libero class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
          <form method="post" action="#">
            <fieldset>
              <legend>Newsletter:</legend>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <button type="submit" value="submit">Submit</button>
            </fieldset>
          </form>
        </div>
        <div class="one_third">
          <h6 class="heading">Per inceptos himenaeos</h6>
          <ul class="nospace clear latestimg">
            <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
            <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
            <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
            <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
            <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
            <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    
      <div id="ctdetails" class="clear">
        <ul class="nospace clear">
          <li class="one_quarter first">
            <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 08.00am - 18.00pm</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="#">our location</a></span></div>
          </li>
        </ul>
      </div>
    
    </footer>
  </div>