<!-- my css -->
<link rel="stylesheet" href="/css/layout.css" type="text/css" media="all">

<!--my js-->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.backtotop.js"></script>
<script src="/js/jquery.mobilemenu.js"></script>

<!-- header -->
<title>등 대</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
