<nav id="mainav" class="fl_right">
    <ul class="clear">
      <li><a class="drop" href="#">진로 탐색</a>
        <ul>
          <li><a href="#">프론트</a></li>
          <li><a href="#">백엔드</a></li>
          <li><a href="#">풀스택</a></li>
          <li><a href="#">데이터 과학자</a></li>
          <li><a href="#">모바일 개발자</a></li>
          <li><a href="#">게임 개발자</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">멘토 등록</a>
        <ul>
          <li><a href="#">Level 2</a></li>
          <li><a class="drop" href="#">Level 2 + Drop</a>
            <ul>
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
            </ul>
          </li>
          <li><a href="#">Level 2</a></li>
        </ul>
      </li>
      <li><a href="#">멘토 찾기</a></li>
      <li><a href="#">개발자 이야기</a></li>
      <li><a href="#">스터디 공고</a></li>
      <li><a href="#">홍보</a></li>
      <li><a href="#">로그인</a></li>
    </ul>
  </nav>