<div class="wrapper row1">
  <header id="header" class="hoc clear">
  
    <div id="logo" class="fl_left">
      <h1><a href="/index">등 대</a></h1>
    </div>

    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><a  href="/job_seeking/intro">진로 탐색</a>
          <!-- <ul>
            <li><a href="#">프론트</a></li>
            <li><a href="#">백엔드</a></li>
            <li><a href="#">풀스택</a></li>
            <li><a href="#">데이터 과학자</a></li>
            <li><a href="#">모바일 개발자</a></li>
            <li><a href="#">게임 개발자</a></li>
          </ul> -->
        </li>
        <li><a class="drop" href="/register">멘토 등록</a>
          <ul>
            <li><a href="#">Level 2</a></li>
            <li><a class="drop" href="#">Level 2 + Drop</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
            <li><a href="#">Level 2</a></li>
          </ul>
        </li>
        <li><a href="/mentorlist">멘토 찾기</a></li>
        <li><a href="#">개발자 이야기</a></li>
        <li><a href="#">스터디 공고</a></li>
        <li><a href="#">홍보</a></li>
        <% if(!(user && user.id)) { %>
        <li><a href="/login">로그인</a></li>
        <% }else { %>
        <li><a class="drop">마이페이지</a>
          <ul>
            <li><a href="#">나의 분야</a></li>
            <!-- 팔로우한 멘토 & 내가 결제한 멘토 리스트-->
            <li><a href="#">나의 멘토</a></li>
            <li><a class="drop" href="#">나의 작성글</a>
              <ul>
                <li><a href="#">개발자 이야기</a></li>
                <li><a href="#">스터디 공고</a></li>
                <li><a href="#">홍보</a></li>
              </ul>
            </li>
            <li><a href="/mypage/account">나의 계정</a></li>
            <li><a href="/auth/logout">로그아웃</a></li>
          </ul>
        </li>
        <% } %>
      </ul>
    </nav> 
  </header>
</div>

