.subhead{
    font-family : sans-serif;
    font-size : 30px;
    font-weight : bold;
    }
  #updatemento {
    width : 50%;
    margin : 0 auto;
    text-align : left;
    color : #6D6D72;
  } 
  #updatemento input[type = "text"], input[type = "submit"], input[type = "email"], #gender, textarea{
    border : 1px solid #8080805c;
    width : 100%;
    padding : 12px 5px;
    margin : 20px auto;
  }
  #updatemento input[type = "submit"]{
    cursor : pointer;
  }
  .container {
    padding : 40px 0;
  }
  #footer{
    width : 100%;
  }
  .field{
    width : 100%;
    text-align : center;
  }
  #updatemento input[type = "radio"]{
    display : inline;
    border : 1px solid #8080805c;
    width : 20%;
    cursor : pointer;
  }
  input[type = "file"]{
    outline : none;
    border : 0;
    padding : 7px 2px;
    background-color: #f5f5f5;
    width : 30%;
  }
  .item-list{
    float : left;
    width : 30%;
    border : 1px solid #8080805c;
    padding : 10px 5px;
    margin : 5px;
    display : inline;
    text-align : left;
    cursor : pointer;
  }
  .item-list:active{ 
    background-color : #8080805c;
    transition : 0.3s;
  }
  label {
    font-weight : bold;
  }