<!DOCTYPE html>
  <html lang="">
<haed>
  <%- include('../partials/head') %>
</haed>

<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/images/lighthouse.jpg');">

  <div class="wrapper row1">
    <header id="header" class="hoc clear">
    
      <div id="logo" class="fl_left">
        <h1><a href="home/index.ejs">등 대</a></h1>
      </div>

      <%- include('../partials/nav') %>
      
    </header>
  </div>
  


  <div id="pageintro" class="hoc clear">
  
    <article>
      <h1 class="heading">멘토링 및 진로 서비스</h1>
      <p id = "story">아직 자신의 진로를 정하지 못하셨나요? <br>등대에서 원하는 멘토를 만나 학습전략를 세워보세요!</p>
      <footer>

      </footer>
    </article>
  
  </div>

</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
  
    <section id="introblocks">
      <div class="sectiontitle">
        <h6 class="heading">Quisque adipiscing</h6>
        <p>Urna sed augue class aptent taciti sociosqu ad litora torquent</p>
      </div>
      <ul class="nospace group">
        <li class="one_quarter first">
          <article><a href="#"><i class="fas fa-golf-ball"></i></a>
            <h6 class="heading">Suspendisse</h6>
            <p>Per conubia nostra per mauris aliquet massa nulla facilisi porta ligula non elementum</p>
            <footer><a class="btn" href="#">More Details</a></footer>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-ribbon"></i></a>
            <h6 class="heading">Inceptos</h6>
            <p>Ultricies justo urna egestas metus ut ornare leo augue pharetra risus morbi tincidunt massa</p>
            <footer><a class="btn" href="#">More Details</a></footer>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-tablets"></i></a>
            <h6 class="heading">Himenaeos</h6>
            <p>Ac vestibulum rutrum orci augue iaculis nibh quis porta nunc nisi suscipit leo nam ac lacus</p>
            <footer><a class="btn" href="#">More Details</a></footer>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fas fa-wine-glass"></i></a>
            <h6 class="heading">Facilisis</h6>
            <p>Cras tempor ultricies urna aliquam massa sapien posuere in iaculis adipiscing vulputate</p>
            <footer><a class="btn" href="#">More Details</a></footer>
          </article>
        </li>
      </ul>
    </section>
  
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row2">
  <section id="references" class="hoc container clear">
  
    <div class="sectiontitle">
      <h6 class="heading">Aliquet vestibulum</h6>
      <p>Eget magna eget sem imperdiet tincidunt vestibulum fringilla nulla</p>
    </div>
    <nav class="ref-sort">
      <ul>
        <li class="current"><a href="#">Ultricies</a></li>
        <li><a href="#">Curabitur</a></li>
        <li><a href="#">Porttitor</a></li>
        <li><a href="#">Pulvinar</a></li>
      </ul>
    </nav>
    <ul class="nospace group ref-img">
      <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
      <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
      <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
      <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
      <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
      <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
    </ul>
    <footer class="block center"><a class="btn" href="#">View more here</a></footer>
  
  </section>
</div>
<div class="wrapper row3">
  <section class="hoc container clear">
  
    <div class="sectiontitle">
      <h6 class="heading">Pellentesque consectetuer</h6>
      <p>Felis vitae sapien gravida interdum curabitur eu quam nec est</p>
    </div>
    <div id="latest" class="group">
      <article class="one_third first"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
        <div class="excerpt">
          <time datetime="2045-04-03T08:15+00:00"><i class="far fa-calendar-alt"></i> 03<sup>rd</sup> April 2045 @ 15:00pm</time>
          <h6 class="heading">Aliquam volutpat donec posuere</h6>
          <ul class="meta">
            <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
            <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
          </ul>
          <p>Ornare dolor phasellus ornare dui vel euismod ultrices orci libero pulvinar justo quis condimentum quam.</p>
          <footer><a class="btn" href="#">Full Story</a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
        <div class="excerpt">
          <time datetime="2045-04-02T08:15+00:00"><i class="far fa-calendar-alt"></i> 02<sup>nd</sup> April 2045 @ 15:00pm</time>
          <h6 class="heading">Nisl id ligula pellentesque</h6>
          <ul class="meta">
            <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
            <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
          </ul>
          <p>Felis nunc interdum vitae pretium ac bibendum vel velit phasellus commodo nullam vitae quam cras auctor.</p>
          <footer><a class="btn" href="#">Full Story</a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
        <div class="excerpt">
          <time datetime="2045-04-01T08:15+00:00"><i class="far fa-calendar-alt"></i> 01<sup>st</sup> April 2045 @ 15:00pm</time>
          <h6 class="heading">Commodo metus proin blandit</h6>
          <ul class="meta">
            <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
            <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
          </ul>
          <p>Quam molestie luctus vehicula orci massa interdum justo nec rutrum risus augue ut nisl suspendisse elit.</p>
          <footer><a class="btn" href="#">Full Story</a></footer>
        </div>
      </article>
    </div>
  
  </section>
</div>
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <section id="testimonials" class="hoc container clear">
  
    <div class="sectiontitle">
      <h6 class="heading">Donec condimentum</h6>
      <p>Adipiscing justo nulla mollis iaculis tortor in mauris integer</p>
    </div>
    <div class="group">
      <article class="one_half first"><img src="images/demo/80x80.png" alt="">
        <blockquote>Pretium duis viverra malesuada mi proin iaculis mauris eu sodales cursus sapien erat pharetra justo vitae volutpat eros magna et magna mauris hendrerit pellentesque.</blockquote>
        <h6 class="heading font-x1">A. Doe</h6>
        <em>Et ipsum mattis ipsum</em></article>
      <article class="one_half"><img src="images/demo/80x80.png" alt="">
        <blockquote>Pellentesque pretium proin molestie erat in rhoncus posuere nibh quam consectetuer lectus ac vulputate ligula lorem ut dolor duis tempus mauris nunc et ligula ut.</blockquote>
        <h6 class="heading font-x1">B. Doe</h6>
        <em>Tortor suscipit convallis</em></article>
    </div>
  
  </section>
</div>
<div class="wrapper row3">
  <article class="hoc cta clear">
  
    <h6 class="three_quarter first">Sed ullamcorper arcu eu ante ut sollicitudin sem sit amet</h6>
    <footer class="one_quarter"><a class="btn" href="#">Ipsum fusce non pede</a></footer>
  
  </article>
</div>
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
  
    <div class="group btmspace-80">
      <div class="one_third first">
        <h6 class="heading">Non erat varius lacinia</h6>
        <p>Morbi tincidunt in hac habitasse platea dictumst praesent pretium donec tincidunt laoreet diam nullam augue.</p>
        <p class="btmspace-30">Tortor rhoncus sed dictum vitae viverra posuere lorem pellentesque suscipit eros vel ante curabitur pretium [<a href="#"><i class="fas fa-arrow-right"></i></a>]</p>
        <ul class="faico clear">
          <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="heading">Enim et mauris quisque vitae</h6>
        <p class="nospace btmspace-15">Libero class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        <form method="post" action="#">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </div>
      <div class="one_third">
        <h6 class="heading">Per inceptos himenaeos</h6>
        <ul class="nospace clear latestimg">
          <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="images/demo/100x100.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  
    <div id="ctdetails" class="clear">
      <ul class="nospace clear">
        <li class="one_quarter first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 08.00am - 18.00pm</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="#">our location</a></span></div>
        </li>
      </ul>
    </div>
  
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
  
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  
  </div>
</div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

</body>
</html>
