<div class="sidebar one_quarter first">
  <nav class="sdb_holder">
    <ul>
      <li><a id="x" href="/mypage/account">계정 설정</a></li>
      <li><a href="/mypage/mentee">멘티 정보</a></li>
      <li><a href="/mypage/password">비밀번호 설정</a></li>
    </ul>
  </nav>
</div>
